<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %> 
<body>
<%-  include('../partials/header') %> 

<%= console.log(producto) %> 

 <div class="container"></div>
 


          <div class="col-md-6 col-lg-4">
              <div class="card my-3">
          <div class="col-12">
            <h3 class="card-title text-secondary">Nombre: <%= producto.name %></a></h3>
          </div>
                  <img src="/images/products/<%= producto.image %>" class="card-image-top" alt="thumbnail">

                  <div class="card-body">
                      <h3 class="card-title  text-secondary"><%= producto.name %></a></h3>
                      <p class="card-text">Marca: <%= producto.brand %></p></> </p>
                      <p class="card-text">Precio: <%= producto.price %></p></> </p>
                      <p class="card-text"><%= producto.description %> </p>
                      
                      <div class="ProductButtons">
                      <a href="/products/edit/<%= producto.id %>" class="btn btn-primary">Editar</a>
                     
                      <form action="delete/<%= producto.id %>" method="post">
                        <button name="delete" class="btn btn-danger">Eliminar producto</button>
                      </form>

                      <a href="/" class="btn btn-primary">Volver</a>
                    </div>

                  </div>
              </div>

         
      </div>

  </div>
<!-- FOOTER-->
<%- include('../partials/footer') %> 
</body>
</html>