<!DOCTYPE html>
<html lang="en">
<%- include ('partials/headMain') %> 
<body>
    <%- include ('partials/header') %>
    
    <main class="main">
        <div class="col-12">
            <h2 class="mb-3 text-primary">Listado de plantas</h2>
        </div>
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
    <% productos.forEach(producto => { %>
            <div class="col-md-6 col-lg-3">
                <div class="card my-3">
                    <img name="image" src="/images/products/<%= producto.image %>" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h3 name="name" class="card-title"><a href="/products/product/<%=producto.id%>" class="text-secondary"><%=producto.name%></a></h3>
                        <p name="description" class="card-text"><%=producto.description%> </p>
                        <h5 name="brand" >Familia de planta: <%=producto.brand%> </h5>
                        <a href="/products/product/<%=producto.id%>" class="btn btn-primary">Ver</a>
                        <a href="/products/edit/<%=producto.id %>" class="btn btn-primary">Editar</a>
                        <h6 class="Precio">Precio: <%=producto.price%></h6>
                    </div>
                </div>
            </div>
<% }) %>
</div>
</div>
</section>
    </main>
<!-- FOOTER-->
<%- include('partials/footerMain') %> 
</body>
</html>